@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    padding: 10px;
    background-color: #131f26;
}

header {
    background-color: #D93D3D;
    min-height: 25vh;
    margin: -10px;
}

header h1 {
    font-size: 4.5em;
    font-weight: lighter;
    padding: 8px;
    padding-top: 30px;
    color: white;
    font-family: caprasimo;
    padding-bottom: 8px;
    text-align: center;
}

section{
    width: 250px;
    height: 100px;
    margin: auto;

}

section a{
    text-decoration: none;
}

section a p {
    font-family: nunito, sans-serif;
    margin-top: 25vh;
    font-size: 3em;
    text-align: center;
    color: #fcecc4;
    padding: 3px;
    background-color: #f28a2e;
    border-radius: 8px;
}

section:hover{
    text-decoration: underline #D93D3D;
}