@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    padding: 10px;
    background-color: #291511;
}

header {
    background-color: #d33313;
    min-height: 25vh;
    margin: -10px;
}

header h1 {
    display: inline-flex;
    font-size: 5em;
    font-weight: lighter;
    padding: 8px;
    padding-top: 30px;
    color: white;
    font-family: caprasimo;
    padding-bottom: 8px;
    text-align: left;
}

div#login{
    margin: 20px 45px 0px 0px;
    float: right;
    display: inline-flex;
    width: 100px;
    height: 100px;
}

.middle{
    text-align: center;
    margin: 15px;
}

div.middle img{
    border-radius: 15px;
}

div.middle:hover{
    width: 500px;
    margin: auto;
}

div#Monte{
    margin-top: 50px;
}
