@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

p{
    font-family: Nunito, sans-serif;
}

a{
    text-decoration: none;
}

body{
    padding: 10px;
    background-color: #291511;
}

header {
    background-color: #d33313;
    min-height: 25vh;
    margin: -10px;
}

header h1 {
    font-size: 5em;
    font-weight: lighter;
    padding: 8px;
    padding-top: 30px;
    color: white;
    font-family: caprasimo;
    padding-bottom: 8px;
    text-align: center;
}


header a {
    text-decoration: none;
}

header a h1:hover{
    background-color: #78b99b25;
    padding-bottom: 37px;
}

div.botao{
    width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #974a3e;
    border-radius: 15px;
    padding: 20px;
}
div.botao:hover{
    background-color: #78b99b25;
}

div.botao p{
    font-size: 3em;
    text-align: center;
    color: white;
}

div#primeiro{
    margin-top: 45px;
}

div.botao input{
    width: 500px;
    height: 35px;
    border-radius: 5px;

}

div.campo{
    width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #974a3e;
    border-radius: 15px;
    padding: 20px;
}

div.campo p{
    font-size: 3em;
    text-align: center;
    color: white;
}

div.campo input{
    width: 500px;
    height: 35px;
    padding: 3px;
    border-radius: 5px;
    font-size: 1.8em;

}

div#preencher{
    background-color: #974a3e;
    width: 650px;
    margin: auto;
    margin-top: 35px;
    border-radius: 10px;
    padding: 15px 5px 30px 5px;
}

div#preencher p{
    font-size: 2em;
    padding: 10px 0px 5px 15px;
    color: white;
}

div#preencher input{
    display: block;
    margin: auto;
    text-align: center;
    width: 600px;
    padding: 3px;
    font-size: 1.5em;
    border-radius: 10px;
}

p#inputlast{
    outline: 50px;
}

section#dados{
    margin-top: 55px;
}

div#nome{
    font-size: 2em;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    width: 600px;
}

div#nome input{
    background-color: #66666635;
    height: 35px;
    font-size: 0.8em;
    margin-top: 5px;
    width: 600px;
    border-radius: 5px;
}

div#pagar{
    margin: auto;
    background-color: #78b99b;
    width: 200px;
    margin-top: 20px;
    padding: 5px;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}
